.active-videocall-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.videocall-buttons {
    height: 10%;
    max-width: 37rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.videocall-buttons button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: .5rem;
    border: 1px solid var(--popup-border-color);
    cursor: pointer;
}

.leave-button {
    width: 10rem;
    height: 2.4rem;
    border-radius: 13px !important;
    border: none !important;
    background-color: #C8471E;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

.videocall-buttons img {
    width: 25px;
    height: 25px;
}

.video-chat {
    margin-top: .2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 14rem;
}

.main-user {
    margin-top: 8rem;
    width: 100%;
    height: 24rem;
    border-radius: 10px;
}

.user-video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 10rem;
    height: 9rem;
    flex-shrink: 0;
    /* Prevent the div from shrinking beyond its width */
    margin-bottom: 0.5rem;
}

.main-user-video-player {
    height: 100%;
    width: 100%;
    position: relative;
}

.video-call-subtitles {
    position: absolute;
    bottom: 1rem;

    width: 100%;
    height: 2.5rem;
    overflow-x: auto;

    display: flex;
    align-items: center;
}

.video-call-subtitles span {
    color: white;
    font-weight: 700;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.533);
    display: inline-block;
    padding: .5rem;
    width: 95%;
    margin: auto;
}

.user-video-player>div>div,
.main-user-video-player>div>div {
    background-color: transparent !important;
}

.user-video-player video,
.main-user-video-player video {
    border-radius: 10px;
    background-color: white;
}