.user-videocall{
    width: 69.5%;
}
.videocall-image img{
    width: 600px;
    height: 724px;
}
.videocall-image{
    width: 100%;
    text-align: center;
}
.videocall-button{
    width: 100%;
    display: flex;
    justify-content: center;
}