.add-friends-main {
    z-index: 11;
    position: fixed;
    width: 37rem;
    height: 20rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--popup-border-color);
}
.add-friends-header{
    text-align: center;
    border-bottom: 1px solid var(--popup-border-color);
    padding: 1rem;
}
.add-friends-header span{
    font-size: 1.5rem;
    color: var(--font-color);
    font-weight: 700;
}
.add-friend-search input{
    width: 30rem;
    padding: 1rem;
    border-radius: 20px;
}