.friends-requests-main {
    z-index: 11;
    position: fixed;
    width: 37rem;
    height: 43rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--popup-border-color);
}

.friend-requests-header {
    text-align: center;
    border-bottom: 1px solid var(--popup-border-color);
    padding: 1rem;
}

.friend-requests-header h1 {
    color: var(--font-color);
    font-size: 1.5rem;
}

.friend-requests {
    overflow-y: auto;
    height: 90%;
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    color: rgba(128, 128, 128, 0.539);
    font-size: 1.25rem;
}

.friend-requests-lists {
    display: flex;
    align-items: center;
    margin: 1.5rem 1.5rem;
    gap: 1.5rem;
    width: 90%;
}

.friend-requests-descriptions {
    width: 70%;
}

.friend-requests-descriptions span {
    display: inline-block;
    font-size: 1rem;
    color: var(--font-color);
    font-weight: 700;
    padding: .3rem 0rem;

}

.friend-requests-lists img {
    width: 50px;
    height: 50px;
}

.friend-request-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: .5rem;
}

.friend-request-buttons button {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin: 0rem .5rem;
}

.friend-request-buttons button:nth-child(1) {
    background-color: var(--nav-font-color);
}

.friend-request-buttons button:nth-child(2) {
    background-color: var(--red-color);
}