.user-videocall{
    width: 50%;
}
.videocall-image img{
    width: 550px;
    height: 734px;
}
.videocall-image{
    width: 100%;
    text-align: center;
}
.videocall-button{
    width: 100%;
    display: flex;
    justify-content: center;
}