.navigation-main {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-logo img {
    margin-top: -1rem;
   width: 110px;
   height: 110px;
}

.nav-buttons {
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
    padding-top: .7rem;
}

.nav-buttons a {
    display: inline-block;
    text-decoration: none;
    width: 7rem;
    color: var(--nav-font-color);
}

.nav-buttons span {
    display: inline-block;
    font-size: 1.1rem;
    width: 7rem;
    color: var(--nav-font-color);
    text-align: center;
    margin-left: 1rem;
}

.nav-buttons a.active,
.nav-buttons a:hover {
    color: #00a8e8;
    border-bottom: 3px solid #00a8e8;
    padding-bottom: .3rem;
}

.blue-button {
    color: white !important;
    background-color: var(--nav-font-color);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .8rem 4.7rem;
    cursor: pointer;
}

.blue-button:hover {
    background-color: #00a8e8;
}