.contact-main {
    margin-bottom: 12.5rem;
}

.contact-main h1 {
    font-size: 2.5rem;
    color: var(--font-color);
    text-align: center;
    width: 100%;
    margin-top: 10rem;
}

.inputs {
    width: 50%;
}

.name-inputs input {
    max-width: 20rem;
    padding: 1.1rem;
    height: 3.6rem;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgb(187, 187, 187);
    width: 100%;
}

.name-inputs input:focus,
.email-input:focus,
.inputs .text-area:focus {
    outline: none;
    border: 2px solid #008AB8;
    background-color: white;
}

.name-inputs input,
.email-input,
.email-input-invalid,
.inputs textarea {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
}

.inputs textarea {
    font-size: .87rem;
}

.contact-main input::placeholder {
    font-family: 'Inter', sans-serif;
    color: rgba(177, 177, 177, 1);
}

.email-input,
.email-input-invalid {
    max-width: 41.26rem;
    height: 3.6rem;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgb(187, 187, 187);
    display: block;
    padding: 1.1rem;
    margin-top: 1.5rem;
    width: 100%;
}



.contact-main p {
    color: rgba(0, 0, 0, 0.27);
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.firstname-invalid:focus {
    outline: none;
    border: 2px solid #b81f00;
    background-color: white;
}

.inputs textarea {
    display: block;
    max-width: 41.26rem;
    padding: 1.1rem;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgb(187, 187, 187);
    resize: none;
    height: 20.6rem;
    margin-top: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.inputs textarea::placeholder {
    font-family: 'Inter', sans-serif;
    color: rgba(177, 177, 177, 1);
    font-size: .87rem;
}

.name-inputs .firstname-invalid:focus,
.email-input-invalid:focus,
.text-area-invalid:focus {
    outline: none;
    border: 2px solid #b800007f;
    background-color: white;
}

.inputs-main {
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.name-inputs {
    display: flex;
    gap: 1.25rem;
}

.send-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.warning-message {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 196, 0, 0.171);
    padding: .5rem;
    border-radius: 10px;
}

.warning-message img {
    width: 30px;
    height: 30px;
}