.footer-main {
    background-color: rgba(204, 219, 220, 0.65);
    color: var(--font-color);
    width: 100%;
    padding-bottom: 1rem;
}

.footer-main footer {
    font-size: 1rem;
    color: rgba(0, 23, 31, 0.261);
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
}


.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.footer-wrapper {
    max-width: 75rem;
    width: 100%;
    margin: 0rem auto;
}

.footer-links {
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    gap: 5.7rem;
}

.footer-links1,
.footer-links2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-social-media {
    padding-top: 2.0625rem;
}

.footer-social-media span {
    display: inline-flex;
    padding-right: 4.25rem;
}

.footer-logo img {
    width: 130px;
    height: 130px;
}

.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: rgba(0, 23, 31, 0.261);
}

/*Responsive*/
/*Large Screen*/
@media(min-height:2500px) {
    .footer-main {
        position: absolute;
        bottom: 0%;
    }
}

/*Smaller Laptop sizes*/
@media (max-width:1400px) {
    .footer-links {
        font-size: 1.15rem;
    }
}

@media (max-width:900px) {
    .footer-social-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    .footer-social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
    .footer-social-media span{
        padding: 0;
    }
    .footer-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer-links{
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
    }
}