.user-navigation-main {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-content: space-between;
    justify-content: space-between;
}

.user-navigation-logo {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.user-navigation-logo img {
    height: 80px;
}

.user-navigation-buttons {
    margin-top: 6rem;
}

.username img,
.user-navigation-buttons img,
.user-settings img {
    width: 40px;
    height: 40px;
}

.user-logout img {
    width: 40px;
    height: 40px;
}

.user-name {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.user-navigation-main button {
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border: none;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 1.7rem 1.5rem;
}

.user-navigation-main button span,
.user-name span {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--font-color);
}

.user-navigation-main a {
    text-decoration: none;
}

.user-navigation-main a.active button,
.user-navigation-main a.active span,
.user-navigation-main a:hover button,
.user-navigation-main a:hover span,
.user-logout:hover,
.user-logout:hover span {
    background-color: var(--nav-font-color);
    color: white;
}

.user-navigation-main a.active button img,
.user-navigation-main a:hover button img,
.user-logout:hover img {
    filter: brightness(0) invert(1);
}
.user-logout{
    margin-left: 3rem;
}

.user-logout-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}