.how-it-works-main {
    max-width: 70rem;
    color: var(--font-color);
    margin: 8.05rem auto 21rem auto;
}

.how-it-works-main h1 {
    font-size: 2.5rem;
    text-align: center;
}

.how-it-works-descriptions {
    padding-top: 5.75rem;
    display: flex;
}

.how-it-works-descriptions-main {
    padding-left: 7.7rem;
}

.how-it-works-description h2,
.how-it-works-description p {
    font-size: 1.25rem;
}

.how-it-works-description {
    padding-top: 2rem;
    width: 35rem;
    line-height: 40px;
}