.intro-main{
    display: flex;
    justify-content: space-between;
    margin-top: 9.5rem;
}
.intro-description{
    min-width: 40%;
    width: 42rem;
    border: 1px solid black;
    padding-left: 1rem;
}
.intro-description h1{
    color: var(--font-color);
}