.description-main {
    padding-top: 5.9rem;
}

.description-main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--font-color);
    font-weight: 700;
}

.descriptions,
.descriptions-reverse {
    font-size: 1.25rem;
    color: var(--font-color);
    line-height: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-top: 5.18rem;
    align-items: center;
    gap: 3rem;
}

.descriptions .description,
.descriptions-reverse .description {
    max-width: 42rem;
    width: 100%;
}

.descriptions-reverse {
    flex-direction: row-reverse;
}

.description-main h2 {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 50rem;
    line-height: 2.5rem;
    color: var(--font-color);
    padding-top: 4rem;
    padding-bottom: 7.25rem;
}

/*Responsiveness*/
@media (max-width: 1400px) {
    .description-main h1 {
        font-size: 2rem;
    }

    .description-image img {
        width: 400px;
        height: 400px;
    }

    .descriptions,
    .descriptions-reverse {
        justify-content: space-around;
        font-size: 1.15rem;
    }

    .description-main h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {

    .descriptions,
    .descriptions-reverse {
        flex-direction: column-reverse;
    }

    .description-main {
        padding: 0rem 3rem;
    }
}

@media (max-width: 500px) {
    .description-image img {
        width: 300px;
        height: 300px;
    }
    .descriptions, .descriptions-reverse{
        text-align: center;
    }
}
@media (max-width: 400px) {
    .description-image img {
        width: 270px;
        height: 270px;
    }
}