@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(#00a8e8, #007ea7);
  /* color of the scroll thumb */
  border-radius: 50px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

:root {
  --nav-font-color: #008AB8;
  --active-color: #00a8e8;
  --font-color: #003459;
  --popup-border-color: rgba(0, 0, 0, 0.167)
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 1rem 3rem 0rem 3rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}