@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root {
  --font-color: #008AB8
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5rem 1.5rem 0rem 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}