.signup-main {
    width: 60rem;
    background-color: white;
    height: 43rem;
    border: 1px solid var(--popup-border-color);
    position: fixed;
    z-index: 15;
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
}

.signup-inputs-main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.signup-inputs-logo img {
    width: 80px;
    height: 80px;
}

.signup-image {
    height: 100%;
    width: 45%;
}

#lady-image {
    width: 466px;
    height: 100%;
}

.signup-inputs,
.signup-inputs form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.signup-inputs form {
    width: 100%;
}

.signup-inputs h1 {
    font-weight: 700;
    color: var(--font-color);
    font-size: 2.5rem;
    width: 100%;
}

.signup-inputs input {
    max-width: 30rem;
    width: 100%;
    padding: 1.1rem;
    height: 2.7rem;
    border-radius: 20px;
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgb(187, 187, 187);
}

.signup-inputs input:focus {
    outline: none;
    border: 2px solid #008AB8;
    background-color: white;
}

.signup-inputs .firstname-invalid:focus,
.signup-inputs .lastname-invalid:focus,
.signup-inputs .email-invalid:focus,
.signup-inputs .password-invalid:focus,
.signup-inputs .confirm-password-invalid:focus {
    outline: none;
    border: 2px solid #b800007f;
    background-color: white;
}

.signup-inputs span {
    color: rgba(177, 177, 177, 1);
}

.signup-inputs .login-link {
    color: var(--nav-font-color);
    text-decoration: none;
    cursor: pointer;
}

.signup-inputs input::placeholder {
    font-family: 'Inter', sans-serif;
    color: rgba(177, 177, 177, 1);
}